In [17]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [13]:
house_votes = pd.read_csv("house-votes-84.csv", header = None, na_values = ["", " ", "?"])

In [14]:
col_nms = ["party", "handicapped_infants", "water_proj_cost_share", 
            "budget_sol_adopt", "physician_fee", "elsavaldor_aid", "religious_groups_school", "anti_satellite",
           "aid_nicaraguan", "mx_missile", "immigration", ". synfuels_corporation_cutback",
           "education_spending", "superfund_right", "crime", "duty_free_exports", 
            "export_administration_south_africa"]

house_votes.columns = col_nms 

house_votes.head()

,party,handicapped_infants,water_proj_cost_share,budget_sol_adopt,physician_fee,elsavaldor_aid,religious_groups_school,anti_satellite,aid_nicaraguan,mx_missile,immigration,. synfuels_corporation_cutback,education_spending,superfund_right,crime,duty_free_exports,export_administration_south_africa
0,republican,n,y,n,y,y,y,n,n,n,y,NaN,y,y,y,n,y
1,republican,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,NaN
2,democrat,NaN,y,y,NaN,y,y,n,n,n,n,y,n,y,y,n,n
3,democrat,n,y,y,n,NaN,y,n,n,n,n,y,n,y,n,n,y
4,democrat,y,y,y,n,y,y,n,n,n,n,y,NaN,y,y,y,y

In [30]:
grouped_df = house_votes.groupby("party",  group_keys=True).count()
grouped_df

,handicapped_infants,water_proj_cost_share,budget_sol_adopt,physician_fee,elsavaldor_aid,religious_groups_school,anti_satellite,aid_nicaraguan,mx_missile,immigration,. synfuels_corporation_cutback,education_spending,superfund_right,crime,duty_free_exports,export_administration_south_africa
party,,,,,,,,,,,,,,,,
democrat,258,239,260,259,255,258,259,263,248,263,255,249,252,257,251,185
republican,165,148,164,165,165,166,162,157,165,165,159,155,158,161,156,146